@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
  main {
    font-family: 'Nunito';
  }
  #indexheader {
    position: relative !important;
    text-align: center;
  }
  
  main {
    margin-top:  0px !important;
    padding: 0% !important;
    width: 100%;
    min-height: 90%;
    gap: 0rem !important;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    @apply bg-[url(/scattered-forcefields4.svg)] dark:bg-[url(/scattered-forcefields4-dark.svg)];
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(203, 213, 224);
  }
  .mainTextArea {
    display: flex;
    flex-direction: row;
    /*flex: 1;*/
    flex-grow: 1000;
    margin: 0% !important;
    width: 100%;
  }
  
  main h2 {
      font-weight: 700;
      text-align: start;
      margin: 2%;
      padding-bottom: 2%;
      font-size: 25px;
      border-bottom: solid 2px black;
      margin-bottom: 0%;
  }
  
  .publicProfile {
      display: flex;
      flex-direction: row;
      flex: 1;
      width: 100%;
      height: 100%;
      margin-left: 2%;
      margin-right: 2%;
      overflow-y: auto !important;
      margin-top: 2%;
  }
  
  @media only screen and (max-width: 900px)  {
    .publicProfile {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-left: 2%;
        margin-right: 2%;
        overflow-y: auto !important;
        margin-top: 2%;
    }
  }
  
  .textSelector {
      width: 100%;
      height: 100%;
  }
  
  label {
      font-weight: bold;
      font-size: 26px;
  }
  
  form {
      width: 65%;
  }
  
  #sign-up-form {
      display: flex;
      flex-direction: column;
      justify-content: column;
      padding: 3%;
      height: fit-content;
      border-radius: 10px;
      border: solid 1px;
      width: 75%;
      border: solid rgb(203, 213, 224) 2px;
      background-color: white;
      row-gap: 0.5em;
  }
  
  #label {
      display: flex;
      flex-direction: column;
      justify-content: column;
      align-items: baseline;
      text-align: left;
      font-size: 16px;
      gap: 0.55rem;
      font-weight: 700;
      color: black;
      width: 100%;
      transition: 0.3s;
  }
  
  #labelUnder {
      display: flex;
      flex-direction: column;
      justify-content: column;
      align-items: baseline;
      text-align: left;
      font-size: 16px;
      gap: 0.55rem;
      margin-top: 1.5%;
      font-weight: 500;
      text-decoration: underline;
      color: black;
      width: 100%;
      transition: 0.3s;
  }
  
  textarea:hover {
      border-color: rgb(92, 158, 235) !important;
      transition: 0.3s;
  }
  
  
  #bluetextlink {
      color: rgb(52, 129, 218);
  }
  
  #updateButton:hover{
    background-color: rgb(74, 132, 220) !important;
      transition: 0.3s;
  }
  
  .imageSelector {
      width: 50%;
      margin: 3%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center !important;
  }
  
  .imageSelector #label{
      text-align: center !important;
      align-items: center;
      padding: 2%;
      background-color: white;
      width: fit-content;
      border-radius: 8px;
  }
  
  .base-image-input {
    display: flex;
    width: 300px;
    height: 300px;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin-top: 5%;
    background-color: white;
    border:solid 1.75px rgb(203, 213, 224);
  }
  
  .base-image-input:hover {
      border-color: rgb(52, 129, 218);
  }
  
  .placeholder {
    background: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 50%;
    border: solid 1.75px  rgb(203, 213, 224);
  }
  
  .placeholder:hover {
    background: #E0E0E0;
  }
  
  .file-input {
    display: none;
  }
  
  .Bar2 {
      display: flex;
      justify-content: center;
      padding-bottom: 10px;
      gap: 1em;
      flex: 1;
  }
  
  .Bar2 #label{
      padding: 0px;
  }
  
  #hall {
      border: solid 2px;
      border-radius: 8px;
      line-height: 20px;
      border: solid rgb(203, 213, 224) 2px;
      height: 45px;
      font-size: 15px;
      padding: 2%;
      width: 100%;
      margin-bottom: 5%;
  }
  
  #wing {
      border: solid 2px;
      border-radius: 8px;
      line-height: 20px;
      border: solid rgb(203, 213, 224) 2px;
      height: 45px;
      font-size: 15px;
      padding: 2%;
      width: 100%;
  }
  
  h3 {
    text-align: left;
  }
  
  #twotable {
    display: flex;
    gap: 1.5em;
    align-items: flex-start;
    margin-top: 2%;
  }
  
  #Submit {
    border: 0px;
    height: 7vh;
    border-radius: 5px;
    background-color: rgb(93, 170, 244) !important;
    color: white;
    font-size: large;
    text-align: center;
    margin-bottom: 0.5%;
    vertical-align: center;
    cursor: pointer;
    margin-top: 2%;
  }
  
  #Submit:hover{
    background-color: rgb(74, 132, 220) !important;
      transition: 0.3s;
  } 
  
  .tutorCourses {
    display: flex;
    flex-direction: row;
    column-gap: 1.2em;
    row-gap: 0.5em;
    flex-wrap: wrap;
  }
  
  .courses {
    display: flex;
    flex-direction: column;
    row-gap: 0.25em;
  }