
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0%;
    overflow-x: hidden;
    padding: 0%;
  }
  .container{
      display: flex;
      flex-direction: column;
      overflow: visible;
  }
  .maintext{
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 3px;
  }
  .learn{
      background-color: #6497E4;
      border-radius: 15px;
      padding: 12px 5em;
      outline:none;
      border: transparent;
      color: white;
      font-size: 15px;
      font-weight: bold;
  }
  .maindesc{
      font-size: 24px;
      font-family: 'Nunito', sans-serif;
      font-weight: 400;
  }
  .RightCont{
    float: left;
    height: 100%;
    width: 50%; 
    overflow-y: hidden !important;
    margin-top: 8vh;
  }
  .LeftCont{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 80%;
    float: left;
    margin-top: 3vh;
  }
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
  .Text{
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 3px;
    font-family: 'Nunito', sans-serif;
  }
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
  .desc{
      font-size: 20px;
      font-weight:400;
      font-family: 'Nunito', sans-serif;
  }
  .headtext{
      text-align: right;
      font-size: 36px;
      font-weight: 1000;
      letter-spacing: 3px;
      font-family: 'Nunito', sans-serif;
  }
  .LeftContent1{
    height: 100%;
    max-width: 90%;
    margin-left: 8vw; 
  }
  .RightContent1{
    width: 100%;
    height: 100%;
    overflow-y: hidden !important;
    margin-left: 8vw;
  }
  
  .container3{
      display: flex;
      flex-direction: row;
      /* background-image: url(../assets/HomePage3.png); */
      width: 100%;
      height: min-content;
      background-repeat: no-repeat;
      background-size: 100%;
      position:relative;
  }
  .buttons{
      justify-content: space-evenly;
      display: flex;
      flex-direction: row;
  }
  .header{
      align-items: center; 
      width:100%;
      margin-top: 4vh;
      z-index: 9;
      position:absolute;
  }
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
  .help{
      width:100%;
      text-align: center;
      font-size: 36px;
      font-weight: 900;
      letter-spacing: 3px;
      margin-left: 2vh;
      font-family: 'Nunito', sans-serif;
  }
  .hyperlink{
      display:flex;
      align-items: right; 
      width:100%;
      height:25%;
      margin-left: 154vh;
      margin-top: 28vh;
  }
  .link{
      text-align: right;
      font-size: 28px;
      font-weight: 950;
      letter-spacing: 3px;
      text-decoration: underline;
      align-self: flex-end;
  }
  .container4{
      display: flex;
      flex-direction: row;
      /* background-image: url(../assets/scattered-forcefields.svg); */
      width: 100%;
      height: 25%;
      background-repeat: no-repeat;
      background-size: 100%;
      position:relative;
  }
  .RightSide{
    width: 100%;
    height: 100%;
    overflow-y: hidden !important;
    margin-top: 8vh;
  }
  .LeftCo{
    max-width: 90%;
    height:100%;
    margin-left: 8vw; 
    margin-top: 15vh;
  }
  .container5{
      display: flex;
      flex-direction: row;
      /* background-image: url(../assets/HomePage5.svg); */
      width: 100%;
      height: 86%;
      background-repeat: no-repeat;
  }
  .links{
      height: 70%;
      width:80%;
      margin-top:2vh;
      text-decoration: none;
  }
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
  .footlink{
      text-align: right;
      font-size: 36px;
      font-weight: 900;
      letter-spacing: 3px;
      text-decoration: underline;
      align-self: flex-end;
      color: white;
      margin-left:4vh;
      text-decoration: none;
      font-family: 'Nunito', sans-serif;
  }
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
  .credits{
      font-size: 25px;
      font-weight: 300;
      letter-spacing: 1px;
      text-decoration: underline;
      align-self: flex-end;
      color: white;
      margin-left:4vh;
      text-decoration: none;
      font-family: 'Nunito', sans-serif;
  }
  
  